{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 0.01%"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["minify-dead-code-elimination"]
}
