@import "reset";
@import "palette";
@import "breakpoints";
@import "zIndex";
@import "flex";

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.hidden {
    display: none !important; // Make sure can override every display css
}
