.footer {
    border-top: 1px solid color(gray, dark);
    font-size: 12px;
    color: color(gray, medium);
    text-align: center;
    font-style: italic;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}
